.exporter {
    padding-top: 40px;
    margin-left: 100px;

    &__input-name {
        margin-bottom: 15px;
    }

    &__button-save {
        margin-top: 20px;
    }

    &__select-color {
        margin-bottom: 15px;
    }
}