<html>
	<head>
		<title>My first three.js app</title>

		<meta charset="utf-8">
		<link href="./styles.css" rel="stylesheet">
	</head>
	<body>
		<script type="text/javascript" src="./three.min.js"></script>
		<script src="./matrix.js"></script>
		<script src="./threex.domevents.js"></script>
		<script src="./Curve.js"></script>
		<script src="./LRABuilder.js"></script>
		<script src="./LineBuilder.js"></script>
		<script src="./Equid.js"></script>
		<script src="./DrawShaft.js"></script>
		<script type="text/javascript" src="./TrackballControls.js"></script>
	    <div id="container"></div>
	    <div id="axes" style="position: absolute; top: 0; left: 0;"></div>
		<div>
		  <button id="edit-roll-btn" style="position: absolute; top: 20;"  class="b7">Редактирование валков</button>
		  <!-- <button id="change-bias" style="position: absolute; top: 0; left: 300"  class="b7">Изменить толщину</button>  -->
		  <div id='rolls-list' style="position: absolute; top: 60;">
		    
	      </div>
	      <div id='rolls-color-set' style="position: absolute; top: 140;">

	      </div>
	      <div id='save-roll' style='position: absolute; top:95;'>

	      </div>
		</div>
		<script type="text/javascript" src="./main.js">
		</script>
	</body>
</html>